*{
    padding: 0px;
    margin: 30px;
}
body,html{
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.calculator{
    background-color:#424242;
    height: 600px;
    width:360px; 
    border-radius: 30px;
    padding: 10px;
    border:1px solid white;
    box-shadow: inset 0px 0px 30px;
}
.display{
    height: 70px;
    justify-content: flex-end;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    width: 85%;
}
.display input[type=text]{
    font-size: 50px;
    width: 100%;
    text-align: right;
    color:white ;
    margin-left: 0px;
    margin-right: 0px;
    background-color: transparent;
    border: transparent;
    vertical-align: middle;
}
.buttons{
    margin: 10px
}
.item{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 0px;
    border-radius: 100%;
    background-color:transparent;
    box-shadow: -1px -1px 5px white,2px 2px 8px black;
    color: white;
}
.item.equal{
    width: 140px;
    border-radius: 20px;
    font-size: 100%;
    background-color: grey;
    color:black;
}
.item.item1{
    background-color: grey;
    color:black;
}
.item2{
    background-color: rgb(255, 172, 17);
    color:black
}




